.selectInput {
    height: 25px;
    min-height: 25px;
}

.error {
    color: var(--ramzy-code-red, var(--mantine-color-error));
    background-color: var(--ramzy-code-bg, var(--mantine-color-default-hover));
    display: flex;
    align-items: center;
    justify-content: center;
}

.mermaid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuGroup {
    @media print {
        display: none;
    }
}
